numpy < 1.24
tqdm
typeguard
visualdl>=2.2.0
opencv-python
PyYAML
shapely
scipy
terminaltables
Cython
pycocotools
setuptools

# for MOT evaluation and inference
lap
motmetrics
sklearn

# for vehicleplate in deploy/pipeline/ppvehicle
pyclipper


evalutils==0.3.1
scikit-learn==0.24.2